* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --header-height: 60px;
  --color: #00acdc;
}

.roboto-style {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  margin: 0;
  padding: 0;
}

.img {
  height: 40px;
  display: block;
  padding-left: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  height: var(--header-height);

  padding: 0 50px;
}

.nav__link {
  position: relative;
  display: flex;
  line-height: var(--header-height);
  color: black;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

.nav__list li:not(:last-child) {
  margin-right: 20px;
}

.nav__link:hover {
  color: var(--color);
}

.is-active {
  color: var(--color);
}

.is-active::after {
  content: '';
  display: block;
  background: var(--color);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: var(--color);
  height: 4px;
  border-radius: 3px;
}
